@charset "UTF-8";

@media screen {
  @media (max-width: 600px) {
    body {
      min-width: 320px;
      max-width: 600px;
      background: #000000;
      color: white;
      text-align: center;
      margin: auto;
      overflow-x: hidden;
    }

    #interface {
      margin: 28% 8% 8% 8%;
      padding: 2% 5% 3% 4%;
    }

    .menu {
    display: flex;
    height: 59px;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #000000;
    box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    padding: 29% 25% 0% 3%;
    margin: -26% 0% 0% -12%;
    }

    .forma {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
      padding: 14px;
    }

    div.c1 {
      display: flex;
      flex-direction: column;
      width: 68%;
      padding: 10% 23% 10% 12%;
      align-items: flex-start;
      border-radius: 24px;
      border: 1px solid #3b3b3b;
      background: #121212;
      margin: 20px 0px 20px 0px;
    }

    #img1 {
      width: 350px;
    }
    #img {
      width: 240px;
    }

    div.bloco1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 85px;
      margin: 0% 0% 8% 0%;
    }

    .cms {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin: 5px;
    }

    div.texto {
      width: 123%;
    }
  }

  @media (min-width: 601px) and (max-width: 1025px) {
    body {
      min-width: 601px;
      max-width: 1024px;
      background: #000000;
      color: white;
      text-align: center;
      margin: auto;
      overflow-x: hidden;
    }

    #interface {
      margin: 2% 5% 2% 5%;
      padding: 8% 5% 0% 5%;
    }

    .menu {
      display: flex;
      height: 59px;
      justify-content: center;
      align-items: center;
      position: fixed;
      background-color: #000000;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      padding: 29% 25% 0% 3%;
      margin: -26% 0% 0% -12%;
      }

    .forma {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }

    div.c1 {
      display: flex;
      flex-direction: column;
      width: 66%;
      padding: 4% 22% 10% 8%;
      align-items: flex-start;
      border-radius: 24px;
      border: 1px solid #3b3b3b;
      background: #121212;
      margin: 20px 0px 40px 0px;
    }

    div.bloco1 {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 85px;
      margin: 0% 0% 8% 0%;
    }

    .cms {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin: 0% 0% 8% 0%;
    }

    ul.ms {
      columns: 2;
    }

    div.texto {
      width: 100%;
    }

    #img1 {
      width: 70%;
    }
    #img {
      width: 120%;
    }
  }

  @media (min-width: 1025px) {
    body {
      min-width: 1024px;
      max-width: 1440px;
      background: #000000;
      color: white;
      text-align: center;
      margin: auto;
      overflow-x: hidden;
    }

    #interface {
      margin: 2% 5% 2% 5%;
      padding: 8% 5% 0% 5%;
    }

    .menu {
      display: flex;
      height: 59px;
      justify-content: center;
      align-items: center;
      position: fixed;
      background-color: #000000;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      padding: 27% 25% 0% 3%;
      margin: -26% 0% 0% -12%;
    }

    .menu li {
      border-radius: 10px;
      border: 1px solid #3b3b3b;
      background: #121212;
      color: #ffffff;
      list-style: none;
      font-family: "Inter", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      padding: 10px;
    }

    .forma {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }
    div.sobre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin: 0% 0% 2% 0%;
    }

    div.job {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      text-align: center;
    }

    div.c1 {
      display: flex;
      width: 91%;
      padding: 3% 2% 4% 7%;
      align-items: flex-start;
      gap: 16px;
      border-radius: 30px;
      border: 1px solid #3b3b3b;
      background: #121212;
      margin: 2% 0% 4% 0%;
    }

    div.bloco1 {
      display: flex;
      align-items: center;
      gap: 2%;
    }

    .cms {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin: 0% 0% 2% 0%;
    }

    ul.ms {
      columns: 2;
    }

    div.texto {
      width: 123%;
    }

    div.cc {
      width: 94%;
      padding: 2% 0%;
    }

    p.div1 {
      align-self: stretch;
      color: #ffffff;
      text-align: center;
      font-family: DM Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    p.t2 {
      width: 77%;
      color: #ffffff;
      font-family: DM Sans;
      font-size: 29px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    p.t1 {
      width: 97%;
      color: #ffffff;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    #img1 {
      width: 60%;
    }
    #img {
      width: 50%;
    }
  }

  @media (min-width: 1441px) {
    body {
      min-width: 1441px;
      max-width: 2560px;
      background: #000000;
      color: white;
      text-align: center;
      margin: auto;
      overflow-x: hidden;
    }

    #interface {
      margin: 0% 6% 0% 6%;
      padding: 5% 6% 5% 6%;
    }

    .menu {
      display: flex;
      top: 0%;
      width: 60%;
      height: 88px;
      justify-content: center;
      align-items: center;
      position: fixed;
      background-color: #000000;
      box-shadow: 0 4px 9px 0 rgba(0, 0, 0, 0.2);
      cursor: pointer;
      padding: 26% 25% 0% 3%;
      margin: -26% 0% 7% 0%;
    }
    .menu li {
      border-radius: 15px;
      border: 3px solid #3b3b3b;
      background: #121212;
      color: #ffffff;
      list-style: none;
      font-family: "Inter", sans-serif;
      font-size: 22px;
      font-style: normal;
      font-weight: 600;
      line-height: 17px;
      padding: 10px;
    }

    .forma {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 48px;
    }

    div.texto {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 7%;
      flex: 1 0 0;
      align-self: stretch;
    }

    div.c1 {
      display: flex;
      width: 87%;
      padding: 3% 2% 4% 7%;
      align-items: flex-start;
      gap: 16px;
      border-radius: 30px;
      border: 1px solid #3b3b3b;
      background: #121212;
      margin: 2% 0% 4% 0%;
    }

    div.bloco1 {
      display: flex;
      align-items: center;
      gap: 14%;
      margin: 0% 1% 0% 12%;
    }

    div.job {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      text-align: center;
      margin: 0%;
    }

    .cms {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin: 0% 2% 0% 0%;
    }

    ul.ms {
      columns: 2;
      margin: 0% -10% 3% -2%;
    }

    div.cc {
      width: 86%;
      padding: 2% 4%;
      margin: 0% 2% 5% 0%;
    }

    p.div1 {
      align-self: stretch;
      color: #ffffff;
      text-align: center;
      font-family: DM Sans;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    p.t2 {
      width: 76%;
      color: #ffffff;
      font-family: DM Sans;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }

    p.t1 {
      width: 97%;
      color: #ffffff;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      text-align: center;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    div.sobre {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      margin: 0% 2% 0% 0%;
    }

    #img1 {
      width: 40%;
    }
    #img {
      width: 40%;
    }
  }
}
