@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2? family= Inter & family= Kaushan+Script & family= Permanente+Marker & display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@1,200&family=Inter&family=Kaushan+Script&family=Permanent+Marker&display=swap");

* {
  user-select: none; 
}

a {
  text-decoration: none;
  color: #ffffff;
}

li > a:hover {
  color: #808080;
  transition: 0.4s;
  border-radius: 8px;
  border: 1px solid #3b3b3b;
  padding: 7px;
}

.menu {
  display: block;
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.menu ul {
  display: flex;
  align-items: center;
  gap: 35px;
}

.menu li {
  background: #000000;
  color: #ffffff;
  list-style: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.cor {
  background: var(
    --gradient-01,
    linear-gradient(90deg, #ffe074 0.85%, #50cae4 52.93%, #9b5cff 100.85%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.forma {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
  padding: 6%;
}

h1.titulo01 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.9px;
}

p.paragrafo1 {
  align-self: stretch;
  color: #b3b3b3;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

h2#titulo01 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.paragrafo4 {
  width: 100%;
  color: #b3b3b3;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
}

#titulo02 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.paragrafo3 {
  width: 92%;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.you {
  display: flex;
  align-items: center;
  gap: 85px;
}

.skills {
  display: flex;
  width: 1200px;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

ul.ms {
  padding: 8px;
  gap: 8px;
  align-self: stretch;
  list-style-type: "\1F7E3\00A0\00A0";
  list-style-position: inside;
  color: #b3b3b3;
}

.ms {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

h4 {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

#botao {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #3b3b3b;
  background-color: #0a0a0a;
  color: #ffffff;
  cursor: pointer;
}

.Projeito {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: auto;
}

.Projeito {
  border-radius: 8px;
  color: #ffffff;
  font: normal 600 16px Outfit;
  line-height: 24px;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #3b3b3b;
  background-color: #0a0a0a;
}

.contato {
  display: flex;
  width: 108%;
  padding: 0%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 100px 0px;
  border-radius: 24px;
  border: 1px solid #3b3b3b;
  background-color: #494949;
}

.forma-contato1 {
  display: flex;
  align-self: flex-start;
}

.forma-contato2 {
  display: flex;
  align-self: flex-end;
}

h2#titulo04 {
  color: #ffffff;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.p6 {
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.icone {
  display: flex;
  justify-content: center;
  height: 48px;
  padding: 8px 17px 8px 16px;
  align-items: center;
  gap: 50px;
}

footer#footer {
  display: flex;
  width: 70%;
  bottom: -10%;
  height: 80px;
  padding: 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  margin: auto;
}

.footer {
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.conteudo {
  display: block;
  width: 80%;
  padding: 60px;
  align-items: flex-start;
  gap: 20px;
  border-radius: 24px;
  border: 1px solid #3b3b3b;
  background: #121212;
  margin: 40px;
}

.assunto {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  flex: 1 0 0;
  align-self: stretch;
}

h3 {
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

h6 {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

p.paragrafo2 {
  color: #b3b3b3;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
